<ion-header>

  <ion-navbar>
    <!--<span style="font-size:24px">Expense</span>-->
    <ion-title style="font-size: 24px">Expense</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="To_Trans()">History</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--<div style="background-color:#3578e9">-->
    <!--<ion-list padding>-->
      <!--<ion-item>-->
        <!--<ion-label>Start Date</ion-label>-->
        <!--<ion-datetime displayFormat="YYYYMMDD" [(ngModel)]="startdate"></ion-datetime>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>End Date</ion-label>-->
        <!--<ion-datetime displayFormat="YYYYMMDD" [(ngModel)]="enddate"></ion-datetime>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--Card-->
        <!--</ion-label>-->
        <!--<ion-select [(ngModel)]="card">-->
          <!--<ion-option value="all" selected = "true">All</ion-option>-->
          <!--<ion-option *ngFor="let card of cards" value = "{{card.card_num}}">{{star_format(card.card_num)}}</ion-option>-->
        <!--</ion-select>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--Report-->
        <!--</ion-label>-->
        <!--<ion-select [(ngModel)]="type">-->
          <!--<ion-option value="type" selected = "true">By Type</ion-option>-->
          <!--<ion-option value="month">By Month</ion-option>-->
        <!--</ion-select>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<div align="center">-->
          <!--<button ion-button style="width:80px" color="light" (click)="query()"> <ion-icon name="search"></ion-icon> </button>-->
	    <!--</div>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</div>-->
  <!--<h4 *ngIf="isQuery == 1">-->
    <!--Monetary unit: RMB-->
  <!--</h4>-->
  <div id = "chart" style="width: 100%; height: 50%; align-context : center"></div>
  <div id = "chart1" style="width: 100%; height: 100%; align-context : center"></div>
  <progress value="70" max="100">70%</progress>
</ion-content>
